<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a class="brand-link" asp-area="" asp-controller="Home" asp-action="Index">
        <!--<img src="~/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">-->
        <i class="fas fa-home"></i>
        <span class="brand-text font-weight-light">EMR</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        @if (User.Identity.IsAuthenticated)
        {
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="~/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a class="d-block">@User.FindFirst("FullName")?.Value</a>
                    <a class="d-block" asp-controller="Account" asp-action="Logout">LogOut</a> 
                </div>
            </div>
        }
        else
        {
            <a class="d-block" asp-controller="Account" asp-action="Login">LogIn</a>
        }

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            @if (User.Identity.IsAuthenticated)
            { }
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="nav-icon fas fa-vector-square"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Records" asp-action="Index">
                        <i class="nav-icon far fa-circle"></i>
                        <p>
                            Records
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Patients" asp-action="Details">
                        <i class="nav-icon far fa-circle"></i>
                        <p>
                            PatientRecord
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Doctors" asp-action="Details">
                        <i class="nav-icon far fa-circle"></i>
                        <p>
                            Doctors page
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Users" asp-action="Index">
                        <i class="nav-icon far fa-circle"></i>
                        <p>
                            Users page
                        </p>
                    </a>
                </li>
            </ul>

        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>