@model UserViewModel
@{
    ViewData["Title"] = "User";
}

<div class="row">

    <div class="col-md-2">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"] </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                @await Html.PartialAsync("_UserDetails.cshtml", Model)
                @if (Model.isUserAllowedToEdit)
                {
                    <a href="/Users/Update?id=@Model.Id" class="btn btn-primary btn-block"><b>Edit profile</b></a>
                    <a href="/Account/ChangePassword" class="btn btn-primary btn-block"><b>Change password</b></a>
                    <a href="/Images/Index?userId=@Model.Id" class="btn btn-primary btn-block"><b>Load user photo</b></a>
                }
            </div>
        </div>
    </div>
</div>



