@model SickLeaveViewModel

<h3 class="profile-username text-center">
    <span>№ </span>
    <span>@Model.Id</span>
</h3>

<hr>

<strong><i class="far fa-calendar-alt"></i> Validity</strong>

<p class="text-muted">
    @Model.StartDate.ToString("MM/dd/yyyy") - @Model.FinalDate.ToString("MM/dd/yyyy")
</p>
