@model EMR.Business.Models.DbStatus
@{
    ViewData["Title"] = "Database";

}

<h3>@ViewData["Title"]</h3>

<div class="row">
</div>

<table>
    <thead>
        <tr>
            <th>
                Status
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @if (Model.IsDbExist)
                {
                    <text>DB exist</text>
                }
                else
                {
                    <text>DB not exist</text>
                }
            </td>
            <td>
                <a asp-action="CreateDb"><button @if (Model.IsDbExist) {@Html.Raw("disabled")} class="btn btn-primary">Create Db</button></a>
                <a asp-action="DropDb"><button @if (!Model.IsDbExist) {@Html.Raw("disabled")} class="btn btn-primary">Drop Db</button></a>
            </td>
        </tr>
        <tr>
            <td>
                @if (Model.IsTablesExist)
                {
                    <text>Tables exist</text>
                }
                else
                {
                    <text>Tables not exist</text>
                }
            </td>
            <td>
                <a asp-action="DropTables"><button @if (!Model.IsTablesExist) {@Html.Raw("disabled")} class="btn btn-primary">Drop Tables</button></a>
            </td>
        </tr>
        <tr>
            <td>
                @if (Model.IsDataExist)
                {
                    <text>Data exist</text>
                }
                else
                {
                    <text>No data</text>
                }
            </td>
            <td>
                <a asp-action="CreateBaseDate"><button @if (Model.IsDataExist) {@Html.Raw("disabled")} class="btn btn-primary">DefaultData</button></a>
            </td>
        </tr>
    </tbody>
</table>
