@{
    ViewData["Title"] = "Home page";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";

}

<h3>@ViewData["Title"]</h3>

<div class="row">
    DashBoard
</div>

<form asp-action="SetConnectionString" method="post">
    <label>Connection String:</label><br />>
    <input type="text" name="connectionString" /><br /><br />
    <input type="submit" value="Save" />
</form>