@model RecordDetailsViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Record details</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">Patient</h3>
            </div>
            <div class="card-body">
                @await Html.PartialAsync("~/Views/Patients/_PatientDetailsPartialView.cshtml", Model.Patient)
                @if (!User.IsInRole("User"))
                {
                    <a href="/Patients/Details?id=@Model.Patient.Id" class="btn btn-primary btn-block"><b>View profile</b></a>
                }
                </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">Doctor</h3>
            </div>
            <div class="card-body">
                @await Html.PartialAsync("~/Views/Doctors/_DoctorDetailsPartialView.cshtml", Model.Doctor)
                @if (!User.IsInRole("User"))
                {
                    <a href="/Doctors/Details?id=@Model.Doctor.Id" class="btn btn-primary btn-block"><b>View profile</b></a>
                }
                </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">Sick Leave</h3>
            </div>
            <div class="card-body">
                @await Html.PartialAsync("~/Views/SickLeaves/_DetailsPartial.cshtml", Model.SickLeave)
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">Used drugs for the case</h3>
                <div class="card-tools">
                    @if (!User.IsInRole("User"))
                    {
                        <a asp-controller="Drugs" asp-action="AddOrEdit" asp-route-recordId="@Model.Id">
                            <button class="btn btn-sm btn-info btn-flat margin-r-5"><i class="fas fa-plus"></i> Add drug</button>
                        </a>
                    }
                    </div>
            </div>
            <div class="card-body">
                @await Html.PartialAsync("~/Views/Drugs/_DrugsTable.cshtml", new DrugSearchModel() { RecordId = Model.Id })
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h3 class="card-title">Procedures</h3>
                <div class="card-tools">
                    @if (!User.IsInRole("User"))
                    {
                        <a asp-controller="Procedures" asp-action="AddOrEdit" asp-route-recordId="@Model.Id">
                            <button class="btn btn-sm btn-info btn-flat margin-r-5"><i class="fas fa-plus"></i> Add procedure</button>
                        </a>
                    }
                    </div>
            </div>
            <div class="card-body">
                @await Html.PartialAsync("~/Views/Procedures/_ProceduresTable.cshtml", new ProcedureSearchModel() { RecordId = Model.Id })
            </div>
        </div>
    </div>
</div>



